html {
  overflow: hidden;
  background-color: #1E3358;
  background-image: -webkit-linear-gradient(transparent 50%, #fff 50%);
  background-image: linear-gradient(transparent 50%, #fff 50%);
  background-size: 50px 80px;
}

body {
  margin: 0;
}

.hatch {
  height: 70vw;
  width: 70vw;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: -webkit-linear-gradient(315deg, #E0965C 38%, #ECAD32 100%);
  background: linear-gradient(135deg, #E0965C 38%, #ECAD32 100%);
}

.hatch:before {
  content: '';
  position: absolute;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-color: orange;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: -webkit-linear-gradient(315deg, #b3bead 38%, #fcfff4 100%);
  background: linear-gradient(135deg, #b3bead 38%, #fcfff4 100%);
}

.hatch > div[class^="screw-"] {
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  background: -webkit-linear-gradient(315deg, #808080 38%, #fcfff4 100%);
  background: linear-gradient(135deg, #808080 38%, #fcfff4 100%);
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.hatch > div[class^="screw-"]:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 10%;
  background-color: #808080;
  left: 45%;
  top: 0%;
}

.screw-1 {
  top: 6%;
  left: 50%;
}

.screw-1:after {
  -webkit-transform: rotate(341deg);
  -ms-transform: rotate(341deg);
  transform: rotate(341deg);
}

.screw-2 {
  top: 94%;
  left: 50%;
}

.screw-2:after {
  -webkit-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  transform: rotate(174deg);
}

.screw-3 {
  top: 30%;
  left: 89%;
}

.screw-3:after {
  -webkit-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  transform: rotate(200deg);
}

.screw-4 {
  top: 30%;
  left: 11%;
}

.screw-4:after {
  -webkit-transform: rotate(34deg);
  -ms-transform: rotate(34deg);
  transform: rotate(34deg);
}

.screw-5 {
  top: 70%;
  left: 89%;
}

.screw-5:after {
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
}

.screw-6 {
  top: 70%;
  left: 11%;
}

.screw-6:after {
  -webkit-transform: rotate(305deg);
  -ms-transform: rotate(305deg);
  transform: rotate(305deg);
}

.fish-container {
  background: -webkit-linear-gradient(top, #7EDDFF 0%, #1A3E4B 100%);
  background: linear-gradient(to bottom, #7EDDFF 0%, #1A3E4B 100%);
  height: 50vw;
  width: 50vw;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.glass {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #6CACC9;
  opacity: 0.3;
}

.glass:before {
  content: '';
  position: absolute;
  height: 50%;
  width: 3%;
  background-color: #FFF;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  left: 20%;
  top: 10%;
  opacity: .4;
  border-radius: 1vw;
}

.glass:after {
  content: '';
  position: absolute;
  height: 70%;
  width: 3%;
  background-color: #FFF;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  left: 20%;
  top: 10%;
  border-radius: 1vw;
}

.fish {
  height: 15vw;
  width: 15vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-animation: fish-movement 4s infinite ease-in-out;
  animation: fish-movement 4s infinite ease-in-out;
}

.fish-body {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top, #FE003A 0%, #490011 100%);
  background: linear-gradient(to bottom, #FE003A 0%, #490011 100%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fish-face {
  content: '';
  position: absolute;
  height: 150%;
  width: 100%;
  background: -webkit-linear-gradient(top, #FFF 0%, #FFD098 100%);
  background: linear-gradient(to bottom, #FFF 0%, #FFD098 100%);
  right: 55%;
  top: -25%;
  border-radius: 50%;
  -webkit-animation: face-movement 2s infinite ease;
  animation: face-movement 2s infinite ease;
}

.fish-face:after {
  content: '';
  position: absolute;
  height: 15%;
  width: 10%;
  background-color: #000;
  right: 40%;
  bottom: 55%;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-animation: eyes-blink 3.5s infinite linear;
  animation: eyes-blink 3.5s infinite linear;
}

.fish-face:before {
  content: '';
  position: absolute;
  height: 15%;
  width: 10%;
  background-color: #000;
  right: 20%;
  bottom: 55%;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-animation: eyes-blink 3.5s infinite linear;
  animation: eyes-blink 3.5s infinite linear;
}

.fish-lips {
  position: absolute;
  height: 40%;
  width: 50%;
  top: 55%;
  left: -20%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-animation: lip-movement 2s infinite ease;
  animation: lip-movement 2s infinite ease;
}

.fish-lips:before {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(top, #FE003A 0%, #490011 100%);
  background: linear-gradient(to bottom, #FE003A 0%, #490011 100%);
  right: 0;
  height: 60%;
  width: 100%;
  border-radius: 20% 75% 40% 40% / 50% 100% 0% 50%;
  -webkit-animation: upper-lip-movement 2s infinite ease;
  animation: upper-lip-movement 2s infinite ease;
}

.fish-lips:after {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(top, #FE003A 0%, #490011 100%);
  background: linear-gradient(to bottom, #FE003A 0%, #490011 100%);
  height: 40%;
  width: 80%;
  border-radius: 45% 0% 100% 70% / 100% 40% 200% 90%;
  bottom: 0;
  right: 0;
  -webkit-animation: lower-lip-movement 2s infinite ease;
  animation: lower-lip-movement 2s infinite ease;
}

.fish-side-fin-wrapper {
  position: absolute;
  height: 35%;
  width: 35%;
  top: 55%;
  left: 50%;
  -webkit-animation: side-fin-wrapper-movement 2s infinite ease;
  animation: side-fin-wrapper-movement 2s infinite ease;
}

.fish-side-fin {
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateZ(-15deg) rotateX(0deg);
  transform: rotateZ(-15deg) rotateX(0deg);
  background: -webkit-linear-gradient(top, #9B0124 0%, #B75252 100%);
  background: linear-gradient(to bottom, #9B0124 0%, #B75252 100%);
  border-color: #A52A2A;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  -webkit-animation: side-fin-movement .1s infinite ease alternate;
  animation: side-fin-movement .1s infinite ease alternate;
}

.fish-side-fin:after {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(top, #A51C34 0%, #89001F 100%);
  background: linear-gradient(to bottom, #A51C34 0%, #89001F 100%);
  height: 40%;
  width: 5%;
  bottom: 0;
  left: 30%;
}

.fish-side-fin:before {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(top, #A51C34 0%, #89001F 100%);
  background: linear-gradient(to bottom, #A51C34 0%, #89001F 100%);
  height: 40%;
  width: 5%;
  bottom: 0;
  left: 60%;
}

.fish-back-fin {
  position: absolute;
  height: 100%;
  width: 45%;
  left: 90%;
  top: -5%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: back-fin-movement .5s infinite ease-in-out;
  animation: back-fin-movement .5s infinite ease-in-out;
}

.fish-back-fin:before {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(left, #89001F 0%, #89001F 35%, #D59898 100%);
  background: linear-gradient(to right, #89001F 0%, #89001F 35%, #D59898 100%);
  height: 75%;
  width: 100%;
  border-radius: 75% 20% 40% 40% / 100% 50% 50% 0%;
}

.fish-back-fin:after {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(left, #89001F 0%, #89001F 35%, #D59898 100%);
  background: linear-gradient(to right, #89001F 0%, #89001F 35%, #D59898 100%);
  height: 25%;
  width: 85%;
  bottom: 0;
  border-radius: 40% 40% 75% 40%/ 0% 50% 15% 100%;
}

.fish-container > div[class^="bubble-"] {
  height: 1px;
  width: 1px;
  position: absolute;
  background-color: rgba(0, 141, 210, 0.3);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fish-container > div[class^="bubble-"]:after {
  content: '';
  position: absolute;
  height: 85%;
  width: 85%;
  border-top: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.bubble-1 {
  bottom: 8px;
  left: 86%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.24s;
  animation: bubble-movement 4s infinite ease-in -1.24s;
}

.bubble-2 {
  bottom: 4px;
  left: 28%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.73s;
  animation: bubble-movement 4s infinite ease-in -0.73s;
}

.bubble-3 {
  bottom: 2px;
  left: 6%;
  -webkit-animation: bubble-movement 4s infinite ease-in -2.2s;
  animation: bubble-movement 4s infinite ease-in -2.2s;
}

.bubble-4 {
  bottom: 6px;
  left: 26%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.58s;
  animation: bubble-movement 4s infinite ease-in -0.58s;
}

.bubble-5 {
  bottom: 5px;
  left: 4%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.79s;
  animation: bubble-movement 4s infinite ease-in -1.79s;
}

.bubble-6 {
  bottom: 11px;
  left: 82%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.99s;
  animation: bubble-movement 4s infinite ease-in -0.99s;
}

.bubble-7 {
  bottom: 10px;
  left: 84%;
  -webkit-animation: bubble-movement 4s infinite ease-in -2.58s;
  animation: bubble-movement 4s infinite ease-in -2.58s;
}

.bubble-8 {
  bottom: 5px;
  left: 21%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.29s;
  animation: bubble-movement 4s infinite ease-in -1.29s;
}

.bubble-9 {
  bottom: 2px;
  left: 63%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.83s;
  animation: bubble-movement 4s infinite ease-in -1.83s;
}

.bubble-10 {
  bottom: 6px;
  left: 92%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.72s;
  animation: bubble-movement 4s infinite ease-in -1.72s;
}

.bubble-11 {
  bottom: 8px;
  left: 19%;
  -webkit-animation: bubble-movement 3s infinite ease-in -0.92s;
  animation: bubble-movement 3s infinite ease-in -0.92s;
}

.bubble-12 {
  bottom: 7px;
  left: 19%;
  -webkit-animation: bubble-movement 3s infinite ease-in -1.35s;
  animation: bubble-movement 3s infinite ease-in -1.35s;
}

.bubble-13 {
  bottom: 10px;
  left: 7%;
  -webkit-animation: bubble-movement 3s infinite ease-in -0.62s;
  animation: bubble-movement 3s infinite ease-in -0.62s;
}

.bubble-14 {
  bottom: 7px;
  left: 42%;
  -webkit-animation: bubble-movement 3s infinite ease-in -0.3s;
  animation: bubble-movement 3s infinite ease-in -0.3s;
}

.bubble-15 {
  bottom: 2px;
  left: 45%;
  -webkit-animation: bubble-movement 3s infinite ease-in -2.12s;
  animation: bubble-movement 3s infinite ease-in -2.12s;
}

.bubble-16 {
  bottom: 10px;
  left: 59%;
  -webkit-animation: bubble-movement 3s infinite ease-in -0.83s;
  animation: bubble-movement 3s infinite ease-in -0.83s;
}

.bubble-17 {
  bottom: 2px;
  left: 49%;
  -webkit-animation: bubble-movement 3s infinite ease-in -1.91s;
  animation: bubble-movement 3s infinite ease-in -1.91s;
}

.bubble-18 {
  bottom: 11px;
  left: 73%;
  -webkit-animation: bubble-movement 3s infinite ease-in -1.4s;
  animation: bubble-movement 3s infinite ease-in -1.4s;
}

.bubble-19 {
  bottom: 11px;
  left: 72%;
  -webkit-animation: bubble-movement 3s infinite ease-in -2.57s;
  animation: bubble-movement 3s infinite ease-in -2.57s;
}

.bubble-20 {
  bottom: 10px;
  left: 7%;
  -webkit-animation: bubble-movement 3s infinite ease-in -1.17s;
  animation: bubble-movement 3s infinite ease-in -1.17s;
}

@-webkit-keyframes bubble-movement {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    -webkit-transform: translate3d(-50%, -1000%, 0);
    transform: translate3d(-50%, -1000%, 0);
    height: 75px;
    width: 75px;
  }
}

@keyframes bubble-movement {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    -webkit-transform: translate3d(-50%, -1000%, 0);
    transform: translate3d(-50%, -1000%, 0);
    height: 75px;
    width: 75px;
  }
}

@-webkit-keyframes eyes-blink {
  0% {
    height: 15%;
  }
  3% {
    height: 1%;
  }
  5% {
    height: 15%;
  }
  100% {
    height: 15%;
  }
}

@keyframes eyes-blink {
  0% {
    height: 15%;
  }
  3% {
    height: 1%;
  }
  5% {
    height: 15%;
  }
  100% {
    height: 15%;
  }
}

@-webkit-keyframes side-fin-movement {
  0% {
    -webkit-transform: rotateZ(-15deg) rotateX(0deg);
    transform: rotateZ(-15deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-15deg) rotateX(35deg);
    transform: rotateZ(-15deg) rotateX(35deg);
  }
}

@keyframes side-fin-movement {
  0% {
    -webkit-transform: rotateZ(-15deg) rotateX(0deg);
    transform: rotateZ(-15deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-15deg) rotateX(35deg);
    transform: rotateZ(-15deg) rotateX(35deg);
  }
}

@-webkit-keyframes fish-movement {
  0% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
  25% {
    width: 15vw;
    height: 15vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg);
  }
  50% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
  75% {
    width: 15vw;
    height: 15vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg);
  }
  100% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
}

@keyframes fish-movement {
  0% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
  25% {
    width: 15vw;
    height: 15vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg);
  }
  50% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
  75% {
    width: 15vw;
    height: 15vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg);
  }
  100% {
    width: 15.5vw;
    height: 14.5vw;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-10deg);
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
}

@-webkit-keyframes back-fin-movement {
  0% {
    -webkit-transform: rotateY(-40deg) rotateX(-7deg);
    transform: rotateY(-40deg) rotateX(-7deg);
  }
  25% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(40deg) rotateX(-5deg);
    transform: rotateY(40deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg) rotateX(-7deg);
    transform: rotateY(-40deg) rotateX(-7deg);
  }
}

@keyframes back-fin-movement {
  0% {
    -webkit-transform: rotateY(-40deg) rotateX(-7deg);
    transform: rotateY(-40deg) rotateX(-7deg);
  }
  25% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(40deg) rotateX(-5deg);
    transform: rotateY(40deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg) rotateX(-7deg);
    transform: rotateY(-40deg) rotateX(-7deg);
  }
}

@-webkit-keyframes side-fin-wrapper-movement {
  0% {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
  }
  25% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
  }
  75% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
  }
}

@keyframes side-fin-wrapper-movement {
  0% {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
  }
  25% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
  }
  75% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
  }
}

@-webkit-keyframes face-movement {
  0% {
    right: 60%;
  }
  25% {
    right: 55%;
  }
  50% {
    right: 50%;
  }
  75% {
    right: 55%;
  }
  100% {
    right: 60%;
  }
}

@keyframes face-movement {
  0% {
    right: 60%;
  }
  25% {
    right: 55%;
  }
  50% {
    right: 50%;
  }
  75% {
    right: 55%;
  }
  100% {
    right: 60%;
  }
}

@-webkit-keyframes lip-movement {
  0% {
    left: -25%;
  }
  25% {
    left: -20%;
  }
  50% {
    left: -15%;
  }
  75% {
    left: -20%;
  }
  100% {
    left: -25%;
  }
}

@keyframes lip-movement {
  0% {
    left: -25%;
  }
  25% {
    left: -20%;
  }
  50% {
    left: -15%;
  }
  75% {
    left: -20%;
  }
  100% {
    left: -25%;
  }
}

@-webkit-keyframes upper-lip-movement {
  0% {
    width: 90%;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 90%;
  }
}

@keyframes upper-lip-movement {
  0% {
    width: 90%;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes lower-lip-movement {
  0% {
    width: 70%;
  }
  25% {
    width: 80%;
  }
  50% {
    width: 80%;
  }
  75% {
    width: 80%;
  }
  100% {
    width: 70%;
  }
}

@keyframes lower-lip-movement {
  0% {
    width: 70%;
  }
  25% {
    width: 80%;
  }
  50% {
    width: 80%;
  }
  75% {
    width: 80%;
  }
  100% {
    width: 70%;
  }
}