body {
  height: 100vh;
  width: 100vw;
  background: -webkit-radial-gradient(#ddaa77 50%, #66ad83 100%);
  background: radial-gradient(#ddaa77 50%, #66ad83 100%);
  background: -webkit-radial-gradient(left 60%, #ddaa77, #66ad83);
  background: radial-gradient(at left 60%, #ddaa77, #66ad83);
}

.stroke {
  text-shadow: 3px 3px 0 #fa0, -1px -1px 0 #fa0, 1px -1px 0 #fa0, -1px 1px 0 #fa0, 1px 1px 0 #fa0;
}

JS
