body {
  height: 100vh;
  width: 100vw;
  background: #ed9c6a;
  background: -webkit-radial-gradient(left 60%, #ed9c6a, #3cd873);
  background: radial-gradient(at left 60%, #ed9c6a, #3cd873);

}

.stroke {
  text-shadow: 3px 3px 0 #ff8, -1px -1px 0 #0ff, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 #0fc;
}



