body {
  height: 100vh;
  width: 100vw;
  background: #efe7d2; 
  background: -webkit-radial-gradient(right 60%, #efe7d2, #66ad83); 
  background: radial-gradient(at right 60%, #efe7d2, #66ad83);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

#bear {
  position: relative;
  height: 100vw;
  width: 50vw;
  margin: 0 auto;
}

.body-wrapper {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -webkit-animation: anim-body-wrapper 2s ease-in-out infinite alternate;
  animation: anim-body-wrapper 2s ease-in-out infinite alternate;
}


/*HEAD*/

.head-wrapper {
  position: relative;
  z-index: 3;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: head-body-wrapper 2s ease-in-out infinite alternate;
  animation: head-body-wrapper 2s ease-in-out infinite alternate;
}

#head {
  border-radius: 50%;
  width: 50vw;
  height: 42.25vw;
  background: #e8a554;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #e8a554 40%, #db914a 99%);
  background: linear-gradient(to bottom, #e8a554 40%, #db914a 99%);
  /* W3C */
  position: relative;
  z-index: 10;
  top: 3.75vw;
}


/*Ears*/

.ears {
  position: relative;
  z-index: 1;
  width: 50vw;
}

.ear1,
.ear2 {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  background-color: pink;
  position: relative;
  background: #efc767;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #efc767 0%, #ca7c3a 100%);
  background: linear-gradient(to bottom, #efc767 0%, #ca7c3a 100%);
  /* W3C */
}

.inner_ear {
  bottom: 4vw;
  height: 12.5vw;
  position: absolute;
  right: 3.25vw;
  width: 12.5vw;
  border-radius: 50%;
  background: #975d2d;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #975d2d 0%, #6f4326 100%);
  background: linear-gradient(to bottom, #975d2d 0%, #6f4326 100%);
  /* W3C */
}

.ear2,
.leg1 {
  float: right;
}

.ear1,
.leg2 {
  float: left;
}


/*Eyes*/

.eyes {
  position: relative;
  width: 27.5vw;
}

.eye1,
.eye2 {
  border-radius: 5vw 5vw 50% 50%;
  border-top: 1.25vw solid #89542A;
  background: #e2a04c;
  /* Old browsers */
  background: -webkit-linear-gradient(315deg, #e2a04c 0%, #efaf58 99%);
  background: linear-gradient(135deg, #e2a04c 0%, #efaf58 99%);
  /* W3C */
  width: 12.5vw;
  height: 15.5vw;
  top: -8.75vw;
  left: 10.5vw;
  -webkit-animation: anim-eye 2s ease-in-out infinite alternate;
  animation: anim-eye 2s ease-in-out infinite alternate;
}

.eye1 {
  position: relative;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  float: left;
}

.eye2 {
  position: relative;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  float: right;
}

.eyeball {
  background: -webkit-linear-gradient(45deg, #99562c 10%, #6d4627 100%);
  background: linear-gradient(45deg, #99562c 10%, #6d4627 100%);
  border-radius: 50%;
  height: 5vw;
  position: absolute;
  overflow: hidden;
  width: 5vw;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: eyes-blink 3s linear infinite;
  animation: eyes-blink 3s linear infinite;
}

.eyeball:before {
  content: "";
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  display: inline-block;
  background-color: #FFF;
  position: absolute;
  top: 2.5vw;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}


/*Muzzle*/

.muzzle {
  background-color: #E5CA9D;
  border-radius: 50%;
  display: block;
  height: 13.5vw;
  left: 13.5vw;
  position: relative;
  top: 25.75vw;
  width: 21vw;
}

.nose {
  background-color: #6A4528;
  border-radius: 70% / 70% 70% 131% 131%;
  height: 9vw;
  width: 14.5vw;
  position: relative;
  left: 3vw;
}

.mouth {
  border-bottom: 0.5vw solid #78421c;
  border-radius: 0 0 22.5vw 22.5vw;
  height: 5vw;
  left: 3vw;
  position: relative;
  bottom: 2.4vw;
  width: 15vw;
  -webkit-animation: mouth-anim 2s ease infinite alternate;
  animation: mouth-anim 2s ease infinite alternate;
}

.nose:after {
  background-color: #FF0000;
  content: "";
  display: block;
  height: 3.5vw;
  left: 6.75vw;
  position: relative;
  top: 8.5vw;
  width: 0.5vw;
  background-color: #78421c;
}


/*BELLY*/

#belly {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  width: 50vw;
  height: 50vw;
  background: #d38442;
  /* Old browsers */
  background: -webkit-radial-gradient(center, ellipse, #d38442 48%, #b75b26 99%);
  background: radial-gradient(ellipse at center, #d38442 48%, #b75b26 99%);
  /* W3C */
  clear: both;
  position: relative;
  top: -10vw;
  z-index: 2;
}

.belly_inner1,
.belly_inner2 {
  background-color: #FDEDD3;
  border-radius: 60% / 90% 90% 30% 30%;
  height: 30vw;
  position: relative;
  top: 16vw;
  width: 22.5vw;
  display: inline-block;
}

.belly_inner1:after {
  background-color: #FDEDD3;
  border-radius: 50%;
  content: "";
  display: block;
  height: 22.5vw;
  left: 2.5vw;
  position: relative;
  top: 8.5vw;
  width: 30vw;
}

.belly_inner1 {
  left: 7.75vw;
}

.belly_inner2 {
  right: 3.75vw;
}


/*HANDS*/

.hands {
  position: absolute;
  width: 59.5vw;
}

.hand1,
.hand2 {
  background: #d88946;
  background: -webkit-linear-gradient(315deg, #d88946 14%, #e5ad4c 100%);
  background: linear-gradient(135deg, #d88946 14%, #e5ad4c 100%);
  /* W3C */
  border-radius: 50%;
  content: "";
  display: block;
  height: 26.5vw;
  left: -5vw;
  position: relative;
  top: -7.5vw;
  width: 13.5vw;
  z-index: 1;
}

.hand1 {
  -webkit-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  -webkit-transform: translate3d(50%, 15%, 0) rotate(45deg);
  transform: translate3d(50%, 15%, 0) rotate(45deg);
  float: left;
  -webkit-animation: wave 2s infinite ease-in-out alternate;
  animation: wave 2s infinite ease-in-out alternate;
}

.hand2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  float: right;
}


/*LEGS*/

.legs {
  left: -2.75vw;
  position: relative;
  top: -27.25vw;
  width: 56.25vw;
  z-index: 10;
}

.leg1,
.leg2 {
  border-radius: 50%;
  width: 22.5vw;
  height: 28vw;
  border: 0.25vw solid #e4a241;
  background: #df9a4c;
  /* Old browsers */
  background: -webkit-linear-gradient(315deg, #df9a4c 41%, #d58443 90%);
  background: linear-gradient(135deg, #df9a4c 41%, #d58443 90%);
}

.leg1 {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -webkit-transform: translate3d(-25%, -10%, 0) rotate(45deg);
  transform: translate3d(-25%, -10%, 0) rotate(45deg);
  -webkit-animation: leg-anim1 2s cubic-bezier(0.62, 0.34, 0.28, 0.82) infinite alternate;
  animation: leg-anim1 2s cubic-bezier(0.62, 0.34, 0.28, 0.82) infinite alternate;
}

.leg2 {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -webkit-transform: translate3d(25%, -10%, 0) rotate(-45deg);
  transform: translate3d(25%, -10%, 0) rotate(-45deg);
  -webkit-animation: leg-anim2 2s cubic-bezier(0.62, 0.34, 0.28, 0.82) infinite alternate;
  animation: leg-anim2 2s cubic-bezier(0.62, 0.34, 0.28, 0.82) infinite alternate;
}

.foot {
  background: #e2c897;
  background: -webkit-linear-gradient(315deg, #e2c897 14%, #fdedd3 100%);
  background: linear-gradient(135deg, #e2c897 14%, #fdedd3 100%);
  /* W3C */
  border-radius: 50%;
  width: 17.5vw;
  height: 22.5vw;
  position: relative;
  top: 2.5vw;
  left: 2.5vw;
}


/*Shadow*/

.shadow {
  height: 15vw;
  width: 55vw;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  left: 25vw;
  bottom: 7vw;
  -webkit-animation: shadow-anim 2s ease infinite alternate;
  animation: shadow-anim 2s ease infinite alternate;
}


/*Animation*/

@-webkit-keyframes shadow-anim {
  to {
    width: 57vw;
    -webkit-transform: translate3d(-47%, 0, 0);
    transform: translate3d(-47%, 0, 0);
  }
}

@keyframes shadow-anim {
  to {
    width: 57vw;
    -webkit-transform: translate3d(-47%, 0, 0);
    transform: translate3d(-47%, 0, 0);
  }
}

@-webkit-keyframes mouth-anim {
  0% {
    height: 2vw;
    bottom: -0.6vw;
    width: 10vw;
    left: 5vw;
    border-radius: 0 0 5vw 5vw;
  }
  100% {
    height: 5vw;
    bottom: 2.4vw;
    width: 15vw;
    left: 3vw;
    border-radius: 0 0 22.5vw 22.5vw;
  }
}

@keyframes mouth-anim {
  0% {
    height: 2vw;
    bottom: -0.6vw;
    width: 10vw;
    left: 5vw;
    border-radius: 0 0 5vw 5vw;
  }
  100% {
    height: 5vw;
    bottom: 2.4vw;
    width: 15vw;
    left: 3vw;
    border-radius: 0 0 22.5vw 22.5vw;
  }
}

@-webkit-keyframes leg-anim1 {
  to {
    -webkit-transform: translate3d(-25%, -10%, 0) rotate(60deg);
    transform: translate3d(-25%, -10%, 0) rotate(60deg);
  }
}

@keyframes leg-anim1 {
  to {
    -webkit-transform: translate3d(-25%, -10%, 0) rotate(60deg);
    transform: translate3d(-25%, -10%, 0) rotate(60deg);
  }
}

@-webkit-keyframes leg-anim2 {
  to {
    -webkit-transform: translate3d(25%, -15%, 0) rotate(-40deg);
    transform: translate3d(25%, -15%, 0) rotate(-40deg);
  }
}

@keyframes leg-anim2 {
  to {
    -webkit-transform: translate3d(25%, -15%, 0) rotate(-40deg);
    transform: translate3d(25%, -15%, 0) rotate(-40deg);
  }
}

@-webkit-keyframes anim-body-wrapper {
  to {
    -webkit-transform: rotateZ(12deg);
    transform: rotateZ(12deg);
  }
}

@keyframes anim-body-wrapper {
  to {
    -webkit-transform: rotateZ(12deg);
    transform: rotateZ(12deg);
  }
}

@-webkit-keyframes anim-eye {
  to {
    height: 17vw;
    top: -10.25vw;
  }
}

@keyframes anim-eye {
  to {
    height: 17vw;
    top: -10.25vw;
  }
}

@-webkit-keyframes eyes-blink {
  0% {
    height: 5vw;
  }
  3% {
    height: 1vw;
  }
  5% {
    height: 5vw;
  }
  100% {
    height: 5vw;
  }
}

@keyframes eyes-blink {
  0% {
    height: 5vw;
  }
  3% {
    height: 1vw;
  }
  5% {
    height: 5vw;
  }
  100% {
    height: 5vw;
  }
}

@-webkit-keyframes head-body-wrapper {
  0% {
    -webkit-transform: translateZ(1px) rotateZ(5deg);
    transform: translateZ(1px) rotateZ(5deg);
  }
  100% {
    -webkit-transform: translateZ(1px) rotateZ(-8deg);
    transform: translateZ(1px) rotateZ(-8deg);
  }
}

@keyframes head-body-wrapper {
  0% {
    -webkit-transform: translateZ(1px) rotateZ(5deg);
    transform: translateZ(1px) rotateZ(5deg);
  }
  100% {
    -webkit-transform: translateZ(1px) rotateZ(-8deg);
    transform: translateZ(1px) rotateZ(-8deg);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(45deg);
    transform: translate3d(50%, 15%, 0) rotate(45deg);
  }
  80% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(100deg);
    transform: translate3d(50%, 15%, 0) rotate(100deg);
  }
  90% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(80deg);
    transform: translate3d(50%, 15%, 0) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(100deg);
    transform: translate3d(50%, 15%, 0) rotate(100deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(45deg);
    transform: translate3d(50%, 15%, 0) rotate(45deg);
  }
  80% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(100deg);
    transform: translate3d(50%, 15%, 0) rotate(100deg);
  }
  90% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(80deg);
    transform: translate3d(50%, 15%, 0) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(50%, 15%, 0) rotate(100deg);
    transform: translate3d(50%, 15%, 0) rotate(100deg);
  }
}