body {
  margin: 0;
  background-color: #A5B396;
  background: -webkit-radial-gradient(left 60%, #A5B396, rgba(0, 141, 210, 0.693));
  background: radial-gradient(at left 60%, #A5B396, rgba(0, 141, 210, 0.93));
}

.stroke {
  text-shadow: 3px 3px 0 #afa, -1px -1px 0 #afa, 1px -1px 0 #afa, -1px 1px 0 #afa, 1px 1px 0 #afa;
}