body {
  background: -webkit-linear-gradient(0deg, #1A2980 10%, #26D0CE 90%);
  background: linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.toy-train {
  position: relative;
  width: 22vw;
}

.engine {
  float: right;
  position: relative;
}

.window {
  height: 5.6vw;
  width: 6vw;
  background-color: #194488;
  position: relative;
  border: .6vw solid #000;
}

.window:before,
.window:after {
  content: "";
  position: absolute;
  left: 50%;
  border: .6vw solid #000;
}

.window:before {
  height: 1.4vw;
  background-color: #F82510;
  width: 9vw;
  margin-top: -2.6vw;
  margin-left: -5.2vw;
  border-radius: 1.6vw;
}

.window:after {
  margin-left: -1.6vw;
  margin-top: .6vw;
  border-radius: 50%;
  height: 2.2vw;
  width: 2.2vw;
  background-color: #fff;
}

.engine-main {
  height: 2vw;
  width: 7vw;
  border: .6vw solid #000;
  background-color: #3D9A01;
  position: absolute;
  border-radius: 0 1.6vw 1.6vw 0;
  right: -8.2vw;
  bottom: -.6vw;
}

.engine-main:before {
  content: "";
  height: 2vw;
  width: 1.6vw;
  background-color: #000;
  position: absolute;
  top: -2.2vw;
  left: .8vw;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
}

.engine-main:after {
  content: "";
  height: 2.4vw;
  width: 1.6vw;
  position: absolute;
  display: block;
  right: 1vw;
  top: -3.6vw;
  border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #194488;
  border: .6vw solid #000;
}

.engine-body {
  height: 3.4vw;
  width: 15vw;
  position: absolute;
  left: -.4vw;
  top: 6vw;
  background-color: #F69F00;
  border: .6vw solid #000;
  border-radius: 1vw;
}

.engine-body .big-wheel {
  top: .6vw;
  left: .4vw;
}

.engine-body .normal-wheel {
  left: 9vw;
  top: 1vw;
}

.engine-body:before {
  content: "";
  position: absolute;
  height: 1vw;
  width: 1vw;
  left: -2.2vw;
  bottom: .4vw;
  background-color: #fff;
  border-radius: 50%;
  border: .6vw solid #000;
}

.wheels > div {
  position: absolute;
  background-color: #F82510;
  border-radius: 50%;
  border: .6vw solid #000;
  -webkit-animation: wheel-rotate 1s linear infinite;
  animation: wheel-rotate 1s linear infinite;
}

.wheels > div:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: .2vw solid #000;
  top: 50%;
  margin-top: -.2vw;
}

.wheels > div:after {
  content: "";
  height: 1.6vw;
  width: 1.6vw;
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -.8vw;
  margin-top: -.8vw;
}

.wheels .big-wheel {
  width: 4.4vw;
  height: 4.4vw;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.wheels .normal-wheel {
  height: 4vw;
  width: 4vw;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.locomotive {
  height: 7vw;
  width: 12vw;
  border: .6vw solid #000;
  background-color: #F69F00;
  border-radius: 1vw;
  position: relative;
  float: left;
  margin-top: 2.6vw;
}

.locomotive:before {
  content: "";
  width: 100%;
  background: -webkit-linear-gradient(left, #000000 0%, #000000 8%, #f69f00 8%, #f69f00 15%, #000000 15%, #000000 28%, #000000 34%, #f69f00 34%, #f69f00 65%, #000000 65%, #000000 65%, #000000 100%);
  background: linear-gradient(to right, #000000 0%, #000000 8%, #f69f00 8%, #f69f00 15%, #000000 15%, #000000 28%, #000000 34%, #f69f00 34%, #f69f00 65%, #000000 65%, #000000 65%, #000000 100%);
  height: .6vw;
  position: absolute;
  top: 1.2vw;
  left: 0;
}

.locomotive:after {
  content: "";
  width: 100%;
  background: -webkit-linear-gradient(left, #000000 0%, #000000 24%, #f69f00 24%, #f69f00 65%, #f69f00 65%, #000000 65%, #000000 85%, #f69f00 85%, #f69f00 90%, #000000 90%, #000000 100%);
  background: linear-gradient(to right, #000000 0%, #000000 24%, #f69f00 24%, #f69f00 65%, #f69f00 65%, #000000 65%, #000000 85%, #f69f00 85%, #f69f00 90%, #000000 90%, #000000 100%);
  height: .6vw;
  position: absolute;
  top: 2.8vw;
  left: 0;
}

.locomotive .wheels > div {
  top: 4.4vw;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.locomotive .wheels > div:first-child {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.locomotive .normal-wheel:first-of-type {
  left: .4vw;
}

.locomotive .normal-wheel:last-of-type {
  right: .4vw;
}

.locomotive .trash {
  height: 4vw;
  width: 10vw;
  position: absolute;
  top: -5.2vw;
  border-color: #000;
  border-top: .6vw solid;
  border-left: .6vw solid;
  border-right: .6vw solid;
  background-color: #3D9A01;
  border-radius: 10vw 10vw 0 0;
  left: .4vw;
}

.tracks {
  position: relative;
  width: 40vw;
  bottom: -2vw;
  left: -5vw;
  overflow: hidden;
  height: .6vw;
}

.tracks span {
  display: inline;
  height: .6vw;
  width: 40vw;
  position: absolute;
  left: 40vw;
  background: -webkit-linear-gradient(left, black 0%, black 30%, transparent 30%, transparent 39%, black 39%, black 61%, black 65%, transparent 65%, transparent 70%, black 71%, black 100%);
  background: linear-gradient(to right, black 0%, black 30%, transparent 30%, transparent 39%, black 39%, black 61%, black 65%, transparent 65%, transparent 70%, black 71%, black 100%);
  -webkit-animation: track 2s linear infinite;
  animation: track 2s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tracks span:nth-child(2) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.smokes:before,
.smokes:after,
.smokes span:before {
  display: block;
  content: "";
  height: 1.5vw;
  width: 1.5vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 1.5vw;
  bottom: 4vw;
}

.smokes:before {
  -webkit-animation: smoke 1s linear infinite;
  animation: smoke 1s linear infinite;
}

.smokes span:before {
  -webkit-animation: smoke 1s linear infinite;
  animation: smoke 1s linear infinite;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.smokes:after {
  -webkit-animation: smoke 1s linear infinite;
  animation: smoke 1s linear infinite;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes smoke {
  100% {
    bottom: 12vw;
    opacity: 0.5;
  }
}

@keyframes smoke {
  100% {
    bottom: 12vw;
    opacity: 0.5;
  }
}

@-webkit-keyframes wheel-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wheel-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes track {
  100% {
    left: -40vw;
  }
}

@keyframes track {
  100% {
    left: -40vw;
  }
}