body {
  height: 100vh;
  width: 100vw;
  background: -webkit-radial-gradient(right 60%, #efe7d2, #66aaf3);
  background: radial-gradient(at right 60%, #efe7d2, #66aaf3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  position: relative;
  width: 90vw;
  height: 70vh;
  border-radius: 100%;
  margin: 212px auto;
}

.cabeza {
  position: absolute;
  display: block;
  width: 14vw;
  height: 14vh;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #cc9666;
  margin: 17% 43%;
}

.orejas {
  position: absolute;
  width: 4vw;
  height: 12vh;
  border-radius: 100%;
  background: #cc9666;
  margin: 7% 39%;
  transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  border: 6px solid #f7bb7b;
}

.orejas::before {
  content: "";
  position: absolute;
  width: 4vw;
  height: 12vh;
  border-radius: 100%;
  background: #cc9666;
  margin: 165% 297%;
  transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  border: 6px solid #f7bb7b;
}

.ojos {
  position: absolute;
  width: 4vw;
  height: 4.5vw;
  border-radius: 100%;
  background: white;
  margin: 55% 12%;
  animation: baja 3s alternate infinite;
  -moz-animation: baja 3s alternate infinite;
  -webkit-animation: baja 3s alternate infinite;
}

.ojos3 {
  position: absolute;
  width: 4vw;
  height: 4.5vw;
  border-radius: 100%;
  background: white;
  margin: 55% 65%;
  animation: baja7 3s alternate infinite;
  -moz-animation: baja7 3s alternate infinite;
  -webkit-animation: baja7 3s alternate infinite;
}

.iris {
  position: absolute;
  width: 2vw;
  height: 1.5vh;
  border-radius: 100%;
  background: black;
  margin: 4% 12%;
  animation: baja3 3s alternate infinite;
  -moz-animation: baja3 3s alternate infinite;
  -webkit-animation: baja3 3s alternate infinite;
}

.iris3 {
  position: absolute;
  width: 2vw;
  height: 1.5vh;
  border-radius: 100%;
  background: black;
  margin: 4% 30%;
  animation: baja9 3s alternate infinite;
  -moz-animation: baja9 3s alternate infinite;
  -webkit-animation: baja9 3s alternate infinite;
}

.hocico {
  position: absolute;
  width: 21%;
  height: 16%;
  background: black;
  border-radius: 500% 500% 500% 3000%;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 83% 40%
}

.cuello {
  position: absolute;
  margin: 32% 24%;
  width: 21vw;
  height: 0;
  padding-left: 21vw;
  padding-bottom: 21vw;
}

.cuello:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -1px;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 7vw solid #f7bb7b;
  ;
}

.body {
  position: absolute;
  width: 21%;
  height: 25%;
  border-radius: 100%;
  background: #f7bb7b;
  margin: 39% 40%
}

.body3 {
  position: absolute;
  width: 18%;
  height: 14%;
  border-radius: 0 0 142px 142px;
  background: #cc9666;
  margin: 53% 41.5%;
  z-index: 333;
}

.legs {
  position: absolute;
  width: 14%;
  height: 14%;
  background: #f7bb7b;
  border-radius: 100%;
  margin: 53% 35%;
}

.legs::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 112%;
  background: #f7bb7b;
  border-radius: 90% 90%;
  margin: 60% 30%;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.legs3 {
  position: absolute;
  width: 14%;
  height: 14%;
  background: #f7bb7b;
  border-radius: 100%;
  margin: 53% 52%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.legs3::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 112%;
  background: #f7bb7b;
  border-radius: 90% 90%;
  margin: 36% 80%;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.legs5 {
  position: absolute;
  width: 12%;
  height: 30%;
  border-top: 3.5vw solid #cc9666;
  border-left: 3.5vw solid transparent;
  border-right: 3.5vw solid transparent;
  -webkit-border-radius: 100px / 100px;
  border-radius: 100px / 100px;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  transform: rotate(-70deg);
  margin: 34% 48.5%
}

.legs6 {
  position: absolute;
  width: 12%;
  height: 30%;
  border-top: 3.5vw solid #cc9666;
  border-left: 3.5vw solid transparent;
  border-right: 3.5vw solid transparent;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px / 100px;
  border-radius: 100px / 100px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  transform: rotate(70deg);
  margin: 34% 33%;
}

.cola {
  position: absolute;
  width: 21vw;
  height: 21vh;
  border-radius: 100%;
  border-left: 5vw solid #cc9666;
  margin: 30% 56%;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  transform: rotate(35deg);
}

.cabeza3 {
  position: absolute;
  display: block;
  width: 6.5vw;
  height: 6vh;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #dd9966;
  margin: 37% 47%;
  border: 1px solid #996633
}

.orejitas {
  position: absolute;
  width: 3vw;
  height: 5vh;
  border-radius: 100%;
  background: #cc9666;
  border: 3px solid #ffd7ae;
  margin: 33% 46%;
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  transform: rotate(-21deg);
}

.orejitas::before {
  content: "";
  position: absolute;
  width: 3vw;
  height: 5vh;
  border-radius: 100%;
  background: #cc9666;
  border: 3px solid #ffd7ae;
  margin: 50% 121%;
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  transform: rotate(42deg);
}

.ojitos {
  position: absolute;
  width: 2vw;
  height: 1.5vh;
  border-radius: 100%;
  background: black;
  margin: 40% 9%;
  animation: abre 2s linear infinite;
  -moz-animation: abre 2s linear infinite;
  -webkit-animation: abre 2s linear infinite;
}

.ojitos3 {
  position: absolute;
  width: 2vw;
  height: 1.5vh;
  border-radius: 100%;
  background: black;
  margin: 40% 60%;
  animation: abre 2s linear infinite;
  -moz-animation: abre 2s linear infinite;
  -webkit-animation: abre 2s linear infinite;
}

.irisitos {
  position: absolute;
  width: 1vw;
  height: .63vh;
  border-radius: 100%;
  background: white;
  margin: 0% 17%;
}

.irisitos3 {
  position: absolute;
  width: 1vw;
  height: .63vh;
  border-radius: 100%;
  background: white;
  margin: 0% 27%;
}

.hocico3 {
  position: absolute;
  width: 23%;
  height: 19%;
  background: black;
  border-radius: 500% 500% 500% 3000%;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 77% 39%
}

.cangurito {
  margin: 21% 0%;
  animation: sube 3s alternate infinite;
  -moz-animation: sube 3s alternate infinite;
  -webkit-animation: sube 3s alternate infinite;
}

@keyframes abre {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes abre {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes abre {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sube {
  0% {
    margin: 21% 0%;
  }
  25% {
    margin: 21% 0%;
  }
  50% {
    margin: 8% 0%;
  }
  75% {
    margin: 8% 0%;
  }
  100% {
    margin: 8% 0%;
  }
}

@-moz-keyframes sube {
  0% {
    margin: 21% 0%;
  }
  25% {
    margin: 21% 0%;
  }
  50% {
    margin: 8% 0%;
  }
  75% {
    margin: 8% 0%;
  }
  100% {
    margin: 8% 0%;
  }
}

@-webkit-keyframes sube {
  0% {
    margin: 21% 0%;
  }
  25% {
    margin: 21% 0%;
  }
  50% {
    margin: 8% 0%;
  }
  75% {
    margin: 8% 0%;
  }
  100% {
    margin: 8% 0%;
  }
}

@keyframes baja {
  0% {
    margin: 55% 12%;
  }
  25% {
    margin: 55% 12%;
  }
  50% {
    margin: 60% 12%;
  }
  75% {
    margin: 60% 12%;
  }
  100% {
    margin: 60% 12%;
  }
}

@-moz-keyframes baja {
  0% {
    margin: 55% 12%;
  }
  25% {
    margin: 55% 12%;
  }
  50% {
    margin: 60% 12%;
  }
  75% {
    margin: 60% 12%;
  }
  100% {
    margin: 60% 12%;
  }
}

@-webkit-keyframes baja {
  0% {
    margin: 55% 12%;
  }
  25% {
    margin: 55% 12%;
  }
  50% {
    margin: 60% 12%;
  }
  75% {
    margin: 60% 12%;
  }
  100% {
    margin: 60% 12%;
  }
}

@keyframes baja3 {
  0% {
    margin: 4% 12%;
  }
  25% {
    margin: 4% 12%;
  }
  50% {
    margin: 33% 12%;
  }
  75% {
    margin: 33% 12%;
  }
  100% {
    margin: 33% 12%;
  }
}

@-moz-keyframes baja3 {
  0% {
    margin: 4% 12%;
  }
  25% {
    margin: 4% 12%;
  }
  50% {
    margin: 33% 12%;
  }
  75% {
    margin: 33% 12%;
  }
  100% {
    margin: 33% 12%;
  }
}

@-webkit-keyframes baja3 {
  0% {
    margin: 4% 12%;
  }
  25% {
    margin: 4% 12%;
  }
  50% {
    margin: 33% 12%;
  }
  75% {
    margin: 33% 12%;
  }
  100% {
    margin: 33% 12%;
  }
}

@keyframes baja7 {
  0% {
    margin: 55% 65%;
  }
  25% {
    margin: 55% 65%;
  }
  50% {
    margin: 60% 65%;
  }
  75% {
    margin: 60% 65%;
  }
  100% {
    margin: 60% 65%;
  }
}

@-moz-keyframes baja7 {
  0% {
    margin: 55% 65%;
  }
  25% {
    margin: 55% 65%;
  }
  50% {
    margin: 60% 65%;
  }
  75% {
    margin: 60% 65%;
  }
  100% {
    margin: 60% 65%;
  }
}

@-webkit-keyframes baja7 {
  0% {
    margin: 55% 65%;
  }
  25% {
    margin: 55% 65%;
  }
  50% {
    margin: 60% 65%;
  }
  75% {
    margin: 60% 65%;
  }
  100% {
    margin: 60% 65%;
  }
}

@keyframes baja9 {
  0% {
    margin: 4% 30%;
  }
  25% {
    margin: 4% 30%;
  }
  50% {
    margin: 33% 30%;
  }
  75% {
    margin: 33% 30%;
  }
  100% {
    margin: 33% 30%;
  }
}

@-moz-keyframes baja9 {
  0% {
    margin: 4% 30%;
  }
  25% {
    margin: 4% 30%;
  }
  50% {
    margin: 33% 30%;
  }
  75% {
    margin: 33% 30%;
  }
  100% {
    margin: 33% 30%;
  }
}

@-webkit-keyframes baja9 {
  0% {
    margin: 4% 30%;
  }
  25% {
    margin: 4% 30%;
  }
  50% {
    margin: 33% 30%;
  }
  75% {
    margin: 33% 30%;
  }
  100% {
    margin: 33% 30%;
  }
}