body{
  background:lightblue;
}
.container{
  position:relative;
  margin:231px auto;
}
.tronco{
  position:relative;
  width:112px;
  height:400px;
  background:#754030;
  margin:90px auto;
}
.cabeza{
  position:absolute;
  width:112px;
  height:102px;
  border-radius:100%;
  background:#936663;;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); 
  margin:0 90px;
  border-bottom:1px solid #d59494;
   animation:sube5 3s linear infinite;
    -webkit-animation:sube5 3s linear infinite;
    -moz-animation:sube5 3s linear infinite;
}
.ojos{
  position:absolute;
  width:17px;
  height:17px;
  border-radius:100%;
  background:black;
  margin:45px 21px;
  
}
.ojos::before{
  content:"";
  display:block;
  
  width:17px;
  height:17px;
  border-radius:100%;
  background:black;
  margin:0px 50px;
  
}
.iris{
  position:absolute;
  width:7px;
  height:7px;
  border-radius:100%;
  background:white;
  margin:-16px 3px
}

.iris::before{
  content:"";
  display:block;
   width:7px;
  height:7px;
  border-radius:100%;
  background:white;
  margin:0px 53px;
}

.orejas{
  position:absolute;
  width:65px;
  height:60px;
  border-radius:100%;
  background:#936663;
  margin:-12px -25px
}
.orejas::before{
  content:"";
  display:block;
 
  width:65px;
  height:60px;
  border-radius:100%;
  background:#936663;
  margin:0px 95px
}
.orejas::after{
  content:"";
  display:block;
  width:21px;
  height:35px;
  border-radius:100%;
  background:black;
  margin:0 70px
}
.leg{
  position:absolute;
  width:50px;
  height:45px;
  border-radius:100%;
  background:#986b68;
  margin: 90px -12px;
    animation:sube 3s linear infinite;
    -webkit-animation:sube 3s linear infinite;
    -moz-animation:sube 3s linear infinite;
}

.leg3{
  position:absolute;
  width:50px;
  height:45px;
  border-radius:100%;
  background:#986b68;;
  margin:121px 80px;
    animation:sube3 3s linear infinite;
    -webkit-animation:sube3 3s linear infinite;
    -moz-animation:sube3 3s linear infinite;

}

.leg::before{
  content:"";
 display:block;
  width:50px;
  height:45px;
  border-radius:100%;
  background:#986b68;
  margin: 132px 0px;
    
}

.leg3::before{
  content:"";
  display:block;
  width:50px;
  height:45px;
  border-radius:100%;
  background:#986b68;
  margin: 121px 0px;
}
.grass{
  position:absolute;
  width:300px;
  height:30px;
  border-radius:30px;
  background:#009975;
  margin:400px -90px
}

.sol{
  position:absolute;
  width:121px;
  height:121px;
  border-radius:100%;
  background:#FCD12D;
  margin:-473px 670px
}
.nubes{
  position:absolute;
  width:112px;
  height:21px;
  border-radius:12px;
  background:white;
  margin: -400px 600px
}
.nubes::before{
  content:"";
  display:block;
  width:112px;
  height:21px;
  border-radius:12px;
  background:white;
  margin: 21px 35px
}
@-webkit-keyframes sube{
  
   0% { margin:90px -12px; }
  25% {margin:90px -12px; }
  45% {margin:80px -9px; }
  50% {margin: 80px -9px }
  65% {margin: 70px -12px }
  70% {margin: 70px -12px }
  75% {margin: 60px -9px }
  85% {margin: 60px -9px }
  95% {margin:50px -12px }
  100% {margin:50px -12px }

}

@-moz-keyframes sube{
  
   0% { margin:90px -12px; }
  25% {margin:90px -12px; }
  45% {margin:80px -9px; }
  50% {margin: 80px -9px }
  65% {margin: 70px -12px }
  70% {margin: 70px -12px }
  75% {margin: 60px -9px }
  85% {margin: 60px -9px }
  95% {margin:50px -12px }
  100% {margin:50px -12px }

}

@keyframes sube{
  
  0% { margin:90px -12px; }
  25% {margin:90px -12px; }
  45% {margin:80px -9px; }
  50% {margin: 80px -9px }
  65% {margin: 70px -12px }
  70% {margin: 70px -12px }
  75% {margin: 60px -9px }
  85% {margin: 60px -9px }
  95% {margin:50px -12px }
  100% {margin:50px -12px }
}

@-webkit-keyframes sube3{
  
  0% {margin:121px 80px; }
  25% {margin:121px 80px; }
  45% {margin:112px 77px; }
  50% {margin: 112px 77px }
  65% {margin: 102px 80px }
  70% {margin:102px 80px }
  75% {margin: 90px 77px }
  85% {margin: 90px 77px }
  95% {margin:80px 80px }
 100% {margin:80px 80px }
}

@-moz-keyframes sube3{
  
 0% {margin:121px 80px; }
  25% {margin:121px 80px; }
  45% {margin:112px 77px; }
  50% {margin: 112px 77px }
  65% {margin: 102px 80px }
  70% {margin:102px 80px }
  75% {margin: 90px 77px }
  85% {margin: 90px 77px }
  95% {margin:80px 80px }
 100% {margin:80px 80px }
}

@keyframes sube3{
  
  0% {margin:121px 80px; }
  25% {margin:121px 80px; }
  45% {margin:112px 77px; }
  50% {margin: 112px 77px }
  65% {margin: 102px 80px }
  70% {margin:102px 80px }
  75% {margin: 90px 77px }
  85% {margin: 90px 77px }
  95% {margin:80px 80px }
 100% {margin:80px 80px }
}

@-webkit-keyframes sube5{
  
  0% {margin:40px 90px;}
  25% {margin:40px 90px;}
  45% {margin:30px 90px;}
  50% {margin: 30px 90px }
  65% {margin:21px 90px }
  70% {margin: 21px 90px }
  75% {margin: 12px 90px }
  85% {margin: 12px 90px }
  95% {margin:0px 90px }
  100% {margin:0px 90px }
}

@-moz-keyframes sube5{
  
  0% {margin:40px 90px;}
  25% {margin:40px 90px;}
  45% {margin:30px 90px;}
  50% {margin: 30px 90px }
  65% {margin:21px 90px }
  70% {margin: 21px 90px }
  75% {margin: 12px 90px }
  85% {margin: 12px 90px }
  95% {margin:0px 90px }
  100% {margin:0px 90px }
}

@keyframes sube5{
  
  0% {margin:40px 90px;}
  25% {margin:40px 90px;}
  45% {margin:30px 90px;}
  50% {margin: 30px 90px }
  65% {margin:21px 90px }
  70% {margin: 21px 90px }
  75% {margin: 12px 90px }
  85% {margin: 12px 90px }
  95% {margin:0px 90px }
  100% {margin:0px 90px }
}