body {
  height: 100vh;
  width: 100vw;
  background: #66fdf3;
  background: -webkit-radial-gradient(left 60%, #ffffff, #66fdf3);
  background: radial-gradient(at left 60%, #ffffff, #66fdf3);
}

.stroke {
  text-shadow: 3px 3px 0 pink, -1px -1px 0 #0ff, 1px -1px 0 #fa0, -1px 1px 0 #0fc, 1px 1px 0 #0fc;
}