body {
  height: 100vh;
  width: 100vw;
  background: #998580;
  background: -webkit-radial-gradient(right 60%, #9e5b4a, #998580);
  background: radial-gradient(at right 60%, #9e5b4a, #998580);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin: 90px auto;
}

.cabeza {
  position: absolute;
  width: 18vw;
  height: 17.5vw;
  border-radius: 100%;
  background: #ea7684;
  margin: 9vw 25vw;
  animation: sube 3s alternate infinite;
  -moz-animation: sube 3s alternate infinite;
  -webkit-animation: sube 3s alternate infinite;
}

.ojo {
  position: absolute;
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 100vw;
  background: white;
  margin: 4vw 7vw
}

.iris {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 100vw;
  background: black;
  margin: 3vw 3vw;
  animation: sube3 3s alternate infinite;
  -moz-animation: sube3 3s alternate infinite;
  -webkit-animation: sube3 3s alternate infinite;
}

.iris::before {
  content: "";
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100vw;
  background: white;
  margin: 0vw 1.5vw;
}

.boca {
  position: absolute;
  width: 4vw;
  height: 7vw;
  border-radius: 100%;
  background: #ae8663;
  margin: 7vw 0vw
}

.boca::before {
  content: "";
  display: block;
  width: 16vw;
  height: 12vw;
  border-radius: 100%;
  border-top: 6vw ridge #D69364;
  margin: -3vw -13vw;
}

.cuello {
  position: absolute;
  width: 12vw;
  height: 21vw;
  border-radius: 0 0 112vw 112vw;
  border-bottom: 4vw solid #ea7684;
  ;
  border-left: 4.5vw solid #ea7684;
  ;
  margin: 21vw 33vw
}

.body {
  position: absolute;
  width: 28.5vw;
  height: 33vw;
  -webkit-border-radius: 63vw 63vw 63vw 63vw / 108vw 108vw 72vw 72vw;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #2b0c14;
  margin: 37vw 35vw
}

.body::before {
  content: "";
  display: block;
  width: 14vw;
  height: 14vw;
  border-radius: 100vw;
  background: #ccc;
  margin: -1.5vw 7vw
}

.alas {
  position: absolute;
  width: 35vw;
  height: 21vw;
  border-radius: 132vw 132vw 0 0;
  background: #562129;
  transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  margin: 43vw 24vw
}

.alas::before {
  content: "";
  position: absolute;
  width: 35vw;
  height: 21vw;
  border-radius: 0 0 132vw 132vw;
  background: #562129;
  transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  margin: 14vw 5.5vw
}

.legs {
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 63.5vw 39vw
}

.legs::before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 0vw -.7vw
}

.legs::after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 0vw 1vw
}

.legs3 {
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 63.5vw 49vw
}

.legs3::before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 0vw -.7vw
}

.legs3::after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 8.5vw;
  border-radius: 100%;
  border-left: 2.5vw groove #D69364;
  margin: 0vw 1vw
}

.cola {
  position: absolute;
  width: 7vw;
  height: 33vw;
  border-radius: 100%;
  background: #2b0c14;
  margin: 57vw 43vw;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
}

.cola::before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 33vw;
  border-radius: 100%;
  background: #2b0c14;
  margin: 3vw 3vw;
  transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}

.cola::after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 33vw;
  border-radius: 100%;
  background: #2b0c14;
  margin: -1.5vw 4.5vw;
  transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
}

.tronco {
  position: absolute;
  width: 60vw;
  height: 7vw;
  border-radius: 50vw;
  background: #874128;
  margin: 64vw 17vw
}

@keyframes sube {
  0% {
    margin: 9vw 25vw;
  }
  100% {
    margin: 5vw 24vw;
  }
}

@-mox-keyframes sube {
  0% {
    margin: 9vw 25vw;
  }
  100% {
    margin: 5vw 24vw;
  }
}

@-webkit-keyframes sube {
  0% {
    margin: 9vw 25vw;
  }
  100% {
    margin: 5vw 24vw;
  }
}

@keyframes sube3 {
  0% {
    margin: 3vw 3vw;
  }
  100% {
    margin: 3vw 0.5vw;
  }
}

@-moz-keyframes sube3 {
  0% {
    margin: 3vw 3vw;
  }
  100% {
    margin: 3vw 0.5vw;
  }
}

@-webkit-keyframes sube3 {
  0% {
    margin: 3vw 3vw;
  }
  100% {
    margin: 3vw 0.5vw;
  }
}