body {
  height: 100vh;
  width: 100vw;
  background: #66fdf3;
  background: -webkit-radial-gradient(right 60%, #ffffff, #66fdf3);
  background: radial-gradient(at right 60%, #ffffff, #66fdf3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin: 90px auto;
}

.cabeza {
  position: absolute;
  width: 23vw;
  height: 23vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #d3905d;
  margin: 14vw 23vw;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.cabeza::before {
  content: "";
  position: absolute;
  width: 6.5vw;
  height: 6.5vw;
  background: black;
  border-radius: 300vw 0vw 500vw;
  margin: .3vw 0vw;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.cabeza::after {
  content: "";
  position: absolute;
  width: 14.5vw;
  height: 14.5vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #efb88f;
  margin: 4.5vw 4.5vw;
}

.ojo {
  position: absolute;
  width: 7.5vw;
  height: 9vw;
  border-radius: 100%;
  background: white;
  margin: 6.5vw 8.5vw;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 333;
}

.ojo::before {
  content: "";
  position: absolute;
  width: 6vw;
  height: 6vw;
  border-radius: 100vw;
  background: black;
  margin: 3vw .3vw;
}

.ojo::after {
  content: "";
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100vw;
  background: white;
  margin: 3.5vw 1.2vw;
}

.body {
  position: absolute;
  border-bottom: 13vw solid #c97f4e;
  border-left: 2.1vw solid transparent;
  border-right: 2.1vw solid transparent;
  height: 0;
  width: 9.5vw;
  margin: 29vw 29vw;
}

.body::before {
  content: "";
  display: block;
  width: 35vw;
  height: 25vw;
  border-radius: 251vw 251vw 0 0;
  background: #c97f4e;
  margin: 13.5vw -1.5vw;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  transform: rotate(70deg);
}

.body::after {
  content: "";
  display: block;
  width: 30vw;
  height: 16vw;
  border-top: 5vw solid #c97f4e;
  ;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  -moz-border-radius: 172vw / 100vw;
  -webkit-border-radius: 172vw / 100vw;
  border-radius: 172vw / 100vw;
  -webkit-transform: rotate(-112deg);
  -moz-transform: rotate(-112ddeg);
  transform: rotate(-112deg);
  margin: -38vw -9.7vw
}

.legs {
  position: absolute;
  width: 25vw;
  height: 19vw;
  border-radius: 100%;
  background: #d3905d;
  margin: 53vw 33vw
}

.legs::before {
  content: "";
  display: block;
  width: 27vw;
  height: 7vw;
  border-radius: 90vw;
  background: #d3905d;
  margin: 16vw -3vw
}

.oreja {
  position: absolute;
  width: 9vw;
  height: 9vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #c97f4e;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  transform: rotate(70deg);
  margin: 12vw 39vw
}

.oreja::before {
  content: "";
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #efb88f;
  margin: 1.5vw 1.5vw
}

.oreja3 {
  position: absolute;
  width: 9vw;
  height: 9vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #c97f4e;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
  margin: 9vw 33vw
}

.oreja3::before {
  content: "";
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #efb88f;
  margin: 12px 12px;
}

.legs3 {
  position: absolute;
  width: 13vw;
  height: 16vw;
  border-top: 6.5vw solid #c97f4e;
  ;
  border-left: 6.5vw solid transparent;
  border-right: 6.5vw solid transparent;
  -moz-border-radius: 112vw / 100vw;
  -webkit-border-radius: 112vw / 100vw;
  border-radius: 112vw / 100vw;
  margin: 45vw 13vw;
  animation: rotar 3s alternate infinite;
  -moz-animation: rotar 3s alternate infinite;
  -webkit-animation: rotar 3s alternate infinite;
}

.legs3::before {
  content: "";
  display: block;
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 100vw;
  background: #c97f4e;
  margin: -4vw -4vw;
}

.legs7 {
  position: absolute;
  width: 13vw;
  height: 16vw;
  border-top: 6.5vw solid #C66121;
  ;
  border-left: 6.5vw solid transparent;
  border-right: 6.5vw solid transparent;
  -moz-border-radius: 112vw / 100vw;
  -webkit-border-radius: 112vw / 100vw;
  border-radius: 112vw / 100vw;
  margin: 41.5vw 13vw;
  animation: rotar 3s alternate infinite;
  -moz-animation: rotar 3s alternate infinite;
  -webkit-animation: rotar 3s alternate infinite;
}

.legs7::before {
  content: "";
  display: block;
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 100vw;
  background: #C66121;
  margin: -4vw -4vw;
}

.cola {
  position: absolute;
  width: 55vw;
  height: 55vw;
  border-radius: 100vw;
  border-right: 12vw solid #C66121;
  margin: 12vw 9vw;
  animation: rotar 3s alternate infinite;
  -moz-animation: rotar 3s alternate infinite;
  -webkit-animation: rotar 3s alternate infinite;
}

.nuez {
  position: absolute;
  width: 9vw;
  height: 9vw;
  border-radius: 300vw 500vw 500vw 500vw;
  background: #59210F;
  margin: 40.5vw 19vw;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  animation: rotar3 3s alternate infinite;
  -moz-animation: rotar3 3s alternate infinite;
  -webkit-animation: rotar3 3s alternate infinite;
}

@keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    transform: rotate(21deg);
  }
}

@-moz-keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    transform: rotate(21deg);
  }
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    transform: rotate(21deg);
  }
}

@keyframes rotar3 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-moz-keyframes rotar3 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes rotar3 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}