body {
  height: 100vh;
  width: 100vw;
  background: #a0d8ef;
  background: -webkit-radial-gradient(right 60%, #94ccf9, #a0d8ef);
  background: radial-gradient(at right 60%, #94ccf9, #a0d8ef);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vw;
  margin: 0px auto;
}

.land {
  position: absolute;
  top: 45vw;
  left: 0;
  width: 100vw;
  height: 60vh;
  border-radius: 80% 80% 100% 0%;
  background: -moz-linear-gradient(top, #43cc50 50%, #94cc99 100%);
  background: -webkit-linear-gradient(top, #43cc50 50%, #94cc99 100%);
  background: linear-gradient(to bottom, #43cc50 50%, #94cc99 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#94cc99', GradientType=0);
  background: #43cc50;
}

.agua {
  position: absolute;
  top: 10vw;
  width: 80vw;
  height: 35vw;
  border-radius: 100%;
  background: #44BFFC;
  margin: 50vw 10vw;
  border-top: 2vw inset #3390BF;
}

.agua::before {
  content: "";
  position: absolute;
  width: 45vw;
  height: 18vw;
  border-radius: 100%;
  background: rgba(255, 255, 255, .3);
  margin: 3vw 12vw;
}

.body {
  position: absolute;
  width: 37.5vw;
  height: 21vw;
  border-radius: 300vw;
  background: #646d76;
  border: .45vw solid #333;
  margin: -4.5vw 18vw;
}

.cola {
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 150vw;
  border-left: 2.25vw solid #333;
  margin: -4.5vw 18vw
}

.cabeza {
  position: absolute;
  width: 19.5vw;
  height: 12vw;
  background: #646d76;
  border-radius: 168vw 168vw 0 0;
  border: .45vw solid #333;
  margin: -13.5vw 39vw
}

.cabeza::before {
  content: "";
  position: absolute;
  width: 22.39vw;
  height: 15vw;
  border-radius: 100%;
  border: .45vw solid #333;
  background: #646d76;
  margin: 7.5vw -1.8vw
}

.ojos {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 150vw;
  background: white;
  margin: 3.45vw 2.25vw;
}

.ojos::before {
  content: "";
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 150vw;
  background: white;
  margin: 0 10.5vw;
}

.iris {
  position: absolute;
  width: 2.25vw;
  height: 2.25vw;
  border-radius: 150vw;
  background: black;
  margin: 2.25vw 1.5vw;
}

.iris::before {
  content: "";
  position: absolute;
  width: 2.25vw;
  height: 2.25vw;
  border-radius: 150vw;
  background: black;
  margin: 0 10.5vw;
}

.boca {
  position: absolute;
  width: 22.05vw;
  height: 10.5vw;
  border-radius: 100%;
  background: #808080;
  margin: 8.85vw -1.25vw
}

.boca::before {
  content: "";
  display: block;
  width: 3vw;
  height: 3vw;
  border-radius: 150vw;
  background: #646d76;
  border: .45vw solid #333;
  margin: 1.8vw 3.15vw
}

.boca::after {
  content: "";
  display: block;
  width: 3vw;
  height: 3vw;
  border-radius: 150vw;
  background: #646d76;
  border: .45vw solid #333;
  margin: -5.25vw 15.75vw
}

.boca3 {
  position: absolute;
  width: 15vw;
  height: 7.5vw;
  border-radius: 0 0 143.5vw 143.5vw;
  background: #ff9999;
  border: 2vw solid #555;
  margin: 15vw .75vw;
  animation: baja 3s alternate infinite;
  -moz-animation: baja 3s alternate infinite;
  -webkit-animation: baja 3s alternate infinite;
}

.boca3::before {
  content: "";
  display: block;
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 31.5vw 31.5vw 0 0;
  background: white;
  margin: 5.55vw 6.75vw;
}

.orejas {
  position: absolute;
  width: 4.5vw;
  height: 3.75vw;
  border-radius: 100%;
  background: #646d76;
  border: .45vw solid #333;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: -12vw 36vw
}

.orejas::before {
  content: "";
  position: absolute;
  width: 4.5vw;
  height: 3.75vw;
  border-radius: 100%;
  background: #646d76;
  border: .45vw solid #333;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: -15vw 15vw
}

.sol {
  position: absolute;
  width: 45vw;
  height: 24vw;
  border-radius: 376.5vw 376.5vw 0 0;
  background: #eaad3a;
  background: -moz-linear-gradient(top, #eaad3a -1%, #f7d083 100%);
  background: -webkit-linear-gradient(top, #eaad3a -1%, #f7d083 100%);
  background: linear-gradient(to bottom, #eaad3a -1%, #f7d083 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eaad3a', endColorstr='#f7d083', GradientType=0);
  margin: 25.55vw 25vw
}

@keyframes baja {
  0% {
    margin: 11.8vw 0.4vw;
  }
  100% {
    margin: 15vw 0.4vw;
  }
}

@-moz-keyframes baja {
  0% {
    margin: 11.8vw 0.4vw;
  }
  100% {
    margin: 15vw 0.4vw;
  }
}

@-webkit-keyframes baja {
  0% {
    margin: 11.8vw 0.4vw;
  }
  100% {
    margin: 15vw 0.4vw;
  }
}