body {
  height: 100vh;
  width: 100vw;
  background: #f5a449;
  background: -webkit-radial-gradient(right 60%, #fcf4c4, #f5a449);
  background: radial-gradient(at right 60%, #fcf444, #f5a449);
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin: 90px auto;
}

.fish {
  position: absolute;
  margin: 0vw -5vw;
  animation: flota 3s alternate infinite;
  -moz-animation: flota 3s alternate infinite;
  -webkit-animation: flota 3s alternate infinite;
}

.body {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 231vw 231vw 0vw 231vw;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #2391B2;
  margin: 21.5vw 21.5vw
}

.ojo {
  position: absolute;
  width: 9vw;
  height: 9vw;
  border-radius: 100vw;
  background: white;
  margin: 30.5vw 30vw
}

.iris {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100vw;
  background: black;
  margin: 1vw .5vw
}

.iris::before {
  content: "";
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100vw;
  background: white;
  margin: 1vw 1vw;
}

.boca {
  position: absolute;
  width: 9vw;
  height: 8vw;
  border-radius: 100%;
  background: #2391B2;
  -webkit-transform: rotate(21deg);
  -moz-transform: rotate(21deg);
  transform: rotate(21deg);
  margin: 37vw 17.5vw
}

.boca::before {
  content: "";
  position: absolute;
  width: 9vw;
  height: 8vw;
  border-radius: 100%;
  background: #2391B2;
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  transform: rotate(-42deg);
  margin: 5vw 2.1vw
}

.aleta {
  position: absolute;
  width: 25vw;
  height: 27vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  transform: rotate(-70deg);
  margin: 6vw 33vw
}

.aleta3 {
  position: absolute;
  width: 22vw;
  height: 25vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  transform: rotate(-55deg);
  margin: 10.2vw 39vw
}

.aleta4 {
  position: absolute;
  width: 19vw;
  height: 25vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  transform: rotate(-65deg);
  margin: 16vw 43vw
}

.aleta7 {
  position: absolute;
  width: 16vw;
  height: 16vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  transform: rotate(12deg);
  margin: 55vw 35vw;
  animation: flota7 3s alternate infinite;
  -moz-animation: flota7 3s alternate infinite;
  -webkit-animation: flota7 3s alternate infinite;
}

.aleta9 {
  position: absolute;
  width: 16vw;
  height: 16vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  transform: rotate(75deg);
  margin: 53vw 25vw;
  animation: flota9 3s alternate infinite;
  -moz-animation: flota9 3s alternate infinite;
  -webkit-animation: flota9 3s alternate infinite;
}

.cola {
  position: absolute;
  width: 14vw;
  height: 14vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 28vw 65vw;
  animation: flota3 3s alternate infinite;
  -moz-animation: flota3 3s alternate infinite;
  -webkit-animation: flota3 3s alternate infinite;
}

.cola::before {
  content: "";
  position: absolute;
  width: 14vw;
  height: 14vw;
  border-radius: 30vw 600vw;
  background: #FF2193;
  opacity: .7;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: -.3vw 9vw
}

@keyframes flota {
  0% {
    margin: -3vw -5vw;
  }
  100% {
    margin: 3vw -5vw;
  }
}

@-moz-keyframes flota {
  0% {
    margin: -3vw -5vw;
  }
  100% {
    margin: 3vw -5vw;
  }
}

@-webkit-keyframes flota {
  0% {
    margin: -3vw -5vw;
  }
  100% {
    margin: 3vw -5vw;
  }
}

@keyframes flota3 {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(102deg);
    -moz-transform: rotate(102deg);
    transform: rotate(102deg);
  }
}

@-moz-keyframes flota3 {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(102deg);
    -moz-transform: rotate(102deg);
    transform: rotate(102deg);
  }
}

@-webkit-keyframes flota3 {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(102deg);
    -moz-transform: rotate(102deg);
  }
}

@keyframes flota7 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

@-moz-keyframes flota7 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

@-webkit-keyframes flota7 {
  0% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

@keyframes flota9 {
  0% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  100% {
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    transform: rotate(85deg);
  }
}

@-moz-keyframes flota9 {
  0% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  100% {
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    transform: rotate(85deg);
  }
}

@-webkit-keyframes flota9 {
  0% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  100% {
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    transform: rotate(85deg);
  }
}