@import url(//fonts.googleapis.com/css?family=EB+Garamond|Chewy|Great+Vibes|Bevan);
html {
  background: white;
}

body {
  margin: 0 0;
  overflow: hidden;
  font: 6vw/1.2 'Chewy', serif;
}

.leaf {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.inner {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

h1 {
  font-size: 50vw;
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 15vw;
  width: 100vw;
  padding: 0;
  margin: 5vw 0;
}

p {
  font-family: 'Great Vibes', cursive;
  font-size: 10vw;
  margin: 0;
}

.center {
  text-align: center;
}

.letter {
  transform: translate3D(0%, 0%, 0);
}

.letter:hover {
  animation: wiggle 1s cubic-bezier(0.48, 0.24, 0.51, 1.21) 1;
}

@keyframes wiggle {
  0% {
    transform: translate3D(0%, 0%, 0) skewX(0deg) rotateX(0deg)
  }
  10% {
    transform: translate3D(15%, -4%, 0) skewX(15deg) rotateX(30deg)
  }
  20% {
    transform: translate3D(15%, 4%, 0) skewX(-15deg) rotateX(-30deg)
  }
  35% {
    transform: translate3D(9%, -10%, 0) skewX(9deg) rotateX(20deg)
  }
  50% {
    transform: translate3D(-4%, 10%, 0) skewX(-9deg) rotateX(-20deg)
  }
  70% {
    transform: translate3D(3%, 1%, 0) skewX(3deg) rotateX(15deg)
  }
  80% {
    transform: translate3D(-10%, -5%, 0) skewX(-3deg) rotateX(-45deg)
  }
  100% {
    transform: translate3D(0%, 0%, 0) skewX(0deg) rotateX(0deg)
  }
}
