html {
  height: 100%
}

#scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at center, rgba(3, 181, 252, 0.8) 0%, rgba(5, 132, 250, 0.8) 100%);
}

.xerus {
  margin-top: -20vh;
  position: absolute;
  top: 50%;
  left: 50%;
}

.xerus .shadow {
  background: rgba(0, 0, 0, 0.1);
  width: 70vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  top: 43.5vh;
  left: -39vh;
  z-index: 1;
}

.xerus > div {
  background: #b07705;
}

.xerus .head {
  margin-left: -10vh;
  margin-top: -10vh;
  border-radius: 50%;
  border-top-right-radius: 4vh;
  border: 3.5vh solid #b07705;
  border-top: 0;
  border-right: 0;
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(55deg);
}

.xerus .head:before {
  content: '';
  display: block;
  width: 7.5vh;
  height: 5vh;
  border-radius: 40%;
  border-left: 1.5vh solid #b07705;
  position: absolute;
  top: 0vh;
  right: 12.5vh;
}

.xerus .head:after {
  content: '';
  display: block;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border-left: 1.5vh solid #b07705;
  position: absolute;
  top: 0vh;
  right: 13vh;
  transform: rotate(20deg);
}

.xerus .eye {
  width: 7vh;
  height: 7vh;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5.5vh;
  left: 1vh;
  z-index: 10;
}

.xerus .eye:before {
  content: '';
  display: block;
  background: #000;
  width: 5vh;
  height: 5.5vh;
  border-radius: 50%;
  position: absolute;
  bottom: 0.5vh;
  right: 0.5vh;
}

.xerus .eye:after {
  content: '';
  display: block;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  position: absolute;
  bottom: -3.5vh;
  right: -0.5vh;
  background: #b07705;
}

.xerus .ear {
  border-radius: 50%;
  border-top-left-radius: 4vh;
  width: 12vh;
  height: 11vh;
  position: absolute;
  top: -13.5vh;
  left: -10vh;
  transform: rotate(35deg);
  z-index: 3;
}

.xerus .ear:after {
  content: '';
  display: block;
  border-radius: 50%;
  border-top-left-radius: 1vh;
  width: 6vh;
  height: 5vh;
  position: absolute;
  top: 2.5vh;
  left: 2.5vh;
  background: #dbc18c;
}

.xerus .ear.bgear {
  top: -13vh;
  left: -8vh;
  z-index: 1;
  background: #7a5306;
  transform: rotate(46deg);
}

.xerus .ear.bgear:after {
  display: none;
}

.xerus .body {
  width: 20vh;
  height: 45vh;
  border-radius: 50%;
  position: absolute;
  top: -3vh;
  left: -15vh;
  z-index: 2;
}

.xerus .body:after {
  content: '';
  display: block;
  width: 25vh;
  height: 45vh;
  border-radius: 50%;
  position: absolute;
  top: 5vh;
  left: -2.5vh;
  background: #b07705;
}

.xerus .arm {
  width: 15vh;
  height: 7vh;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 16.5vh;
  left: 1.5vh;
  z-index: 15;
  transform: rotate(-12deg);
}

.xerus .arm.bgarm {
  z-index: 1;
  background: #7a5306;
  top: 15vh;
}

.xerus .hindleg {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  position: absolute;
  left: -20vh;
  top: 24vh;
  z-index: 10;
  transform: rotate(3deg);
}

.xerus .hindleg:after {
  content: '';
  display: block;
  background: #b07705;
  width: 27.5vh;
  height: 7.5vh;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 2.5vh;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 19vh;
  left: 6vh;
  z-index: 5;
}

.xerus .hindleg.bghindleg {
  z-index: 2;
}

.xerus .hindleg.bghindleg:after {
  z-index: 2;
  background: #7a5306;
  top: 17vh;
}

.xerus .tail {
  position: absolute;
  top: 40vh;
  left: -18vh;
  z-index: 2;
  width: 15vh;
  height: 5vh;
  background: transparent;
  transform: rotate(-24deg);
}

.xerus .tail > div {
  background: #9a5306;
}

.xerus .tail .main {
  border-right: 19vh solid #b07705;
  position: absolute;
  z-index: 2;
  top: -62.5vh;
  left: -37.5vh;
  width: 34vh;
  height: 52.5vh;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-14deg);
}

.xerus .tail .main:after {
  content: '';
  display: block;
  border-right: 4vh solid #b07705;
  width: 10vh;
  height: 15vh;
  border-radius: 40%;
  z-index: 2;
  position: absolute;
  top: 38.5vh;
  left: 20.5vh;
  transform: rotate(27deg);
}

.xerus .tail .butt {
  border-left: 15vh solid #b07705;
  position: absolute;
  top: -23.5vh;
  left: -6vh;
  width: 27.5vh;
  height: 35vh;
  z-index: 2;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-10deg);
}

.xerus .tail .butt:after {
  content: '';
  display: block;
  background: #d7b765;
  position: absolute;
  top: 6.5vh;
  left: -8vh;
  width: 20vh;
  height: 20vh;
  z-index: 2;
  border-radius: 50%;
}

.xerus .tail .end {
  width: 21vh;
  height: 22vh;
  border-radius: 5vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  z-index: 1;
  top: -63vh;
  left: -22vh;
}