body {
  background: #009640;
  background: -webkit-radial-gradient(left 60%, #009640, #00a6a0);
  background: radial-gradient(at left 60%, #009640, #00a6a0);
}

.stroke {
  text-shadow: 3px 3px 0 #7a0, -1px -1px 0 #f00, 1px -1px 0 #ff0, -1px 1px 0 yellow, 1px 1px 0 orange;
}