body {
  height: 100vh;
  width: 100vw;
  background: #fceabb;
  background: -webkit-radial-gradient(right 60%, #fccd4d, #66ad83);
  background: radial-gradient(at right 60%, #fccd4d, #66ad83);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin: 90px auto;
}

.quail {
  position: absolute;
  margin: 0vw -1.2vw;
}

.cabeza {
  position: absolute;
  width: 18.4vw;
  height: 14vw;
  border-radius: 152vw 152vw 0vw 60vw;
  background: #3C4044;
  margin: 7vw 26vw
}

.cabeza::before {
  content: "";
  display: block;
  width: 9vw;
  height: 17.5vw;
  border-top: 7vw solid #3C4044;
  border-left: 7vw solid transparent;
  border-right: 7vw solid transparent;
  -moz-border-radius: 100vw / 100vw;
  -webkit-border-radius: 100vw / 100vw;
  border-radius: 100vw / 100vw;
  transform: rotate(-121deg);
  -moz-transform: rotate(-121deg);
  -webkit-transform: rotate(-121deg);
  margin: 0vw 11.9vw
}

.cabeza::after {
  content: "";
  display: block;
  width: 12vw;
  height: 18.5vw;
  border-top: 7vw solid #3C4044;
  border-left: 7vw solid transparent;
  border-right: 8vw solid transparent;
  -moz-border-radius: 112vw / 100vw;
  -webkit-border-radius: 112vw / 100vw;
  border-radius: 112vw / 100vw;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: -19.5vw -14vw
}

.cabeza3 {
  position: absolute;
  width: 16vw;
  height: 60px;
  border-radius: 121vw 121vw 0 0;
  border-top: 1.5vw solid #999999;
  margin: -24vw 2vw
}

.body {
  position: absolute;
  width: 37vw;
  height: 25.5vw;
  border-radius: 172vw 172vw 0 0;
  background: #215C63;
  transform: rotate(-121deg);
  -moz-transform: rotate(-121deg);
  -webkit-transform: rotate(-121deg);
  margin: 30vw 21vw
}

.body::before {
  content: "";
  position: absolute;
  width: 25vw;
  height: 14vw;
  border-radius: 172vw 172vw 0 0;
  background: #CE757A;
  margin: 8vw 3vw
}

.ojo {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100vw;
  background: black;
  margin: -19vw 7vw;
  z-index: 333;
}

.ojo::before {
  content: "";
  display: block;
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 100vw;
  background: white;
  margin: .3vw .3vw;
}

.pico {
  position: absolute;
  width: 7vw;
  height: 4vw;
  border-radius: 100%;
  border-top: 3vw solid black;
  margin: -16vw -1.7vw;
  animation: rotar7 3s alternate infinite;
  -moz-animation: rotar7 3s alternate infinite;
  -webkit-animation: rotar7 3s alternate infinite;
  z-index: 333;
}

.pico3 {
  position: absolute;
  width: 6vw;
  height: 3vw;
  border-radius: 0 0 45vw 45vw;
  background: #121212;
  margin: -13.7vw -1.2vw;
  z-index: 333;
}

.ala {
  -webkit-border-radius: 0px 412vw 0vw 412vw;
  border-radius: 0vw 412vw 0vw 412vw;
  transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  background: #0C3747;
  height: 33vw;
  position: absolute;
  margin: 12vw 3vw;
  width: 23vw;
  animation: rotar 3s alternate infinite;
  -moz-animation: rotar 3s alternate infinite;
  -webkit-animation: rotar 3s alternate infinite;
}

.cresta {
  position: absolute;
  width: 7vw;
  height: 12vw;
  border-radius: 100%;
  border-right: 2.1vw solid black;
  margin: -.5vw 26vw
}

.cresta::before {
  content: "";
  display: block;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100%;
  background: black;
  margin: -.9vw 3.5vw
}

.leg {
  position: absolute;
  width: 2.1vw;
  height: 14vw;
  background: black;
  margin: 53vw 33vw;
  transform: rotate(33deg);
  -moz-transform: rotate(33deg);
  -webkit-transform: rotate(33deg);
}

.leg::before {
  content: "";
  display: block;
  width: 6vw;
  height: 3vw;
  border-radius: 0 0 30vw 30vw;
  background: #215C63;
  margin: 1vw -2vw;
}

.leg3 {
  position: absolute;
  width: 2.1vw;
  height: 14vw;
  background: black;
  margin: 54vw 40vw;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
}

.leg3::before {
  content: "";
  position: absolute;
  width: 6vw;
  height: 3vw;
  border-radius: 0 0 30vw 30vw;
  background: #215C63;
  margin: 2vw -1.5vw;
}

.dedos {
  position: absolute;
  width: 7vw;
  height: 2vw;
  background: black;
  margin: 9vw -3vw;
  transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -webkit-transform: rotate(-21deg);
}

.dedos3 {
  position: absolute;
  width: 7vw;
  height: 2vw;
  background: black;
  margin: 13vw -3vw;
  transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}

.cola {
  position: absolute;
  width: 5vw;
  height: 25vw;
  border-radius: 100%;
  background: #CE757A;
  border: .5vw solid #215C63;
  margin: 45vw 57vw;
  transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -webkit-transform: rotate(-21deg);
  animation: rotar3 3s alternate infinite;
  -moz-animation: rotar3 3s alternate infinite;
  -webkit-animation: rotar3 3s alternate infinite;
}

@keyframes rotar {
  0% {
    transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
  }
}

@-moz-keyframes rotar {
  0% {
    transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
  }
}

@-webkit-keyframes rotar {
  0% {
    transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
  }
}

@keyframes rotar3 {
  0% {
    transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
  }
  100% {
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
  }
}

@-moz-keyframes rotar3 {
  0% {
    transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
  }
  100% {
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
  }
}

@-webkit-keyframes rotar3 {
  0% {
    transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
  }
  100% {
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
  }
}

@keyframes rotar7 {
  0% {
    margin: -16vw -1.7vw;
  }
  100% {
    margin: -16.9vw -1.7vw;
  }
}

@-moz-keyframes rotar7 {
  0% {
    margin: -16vw -1.7vw;
  }
  100% {
    margin: -16.9vw -1.7vw;
  }
}

@-webkit-keyframes rotar7 {
  0% {
    margin: -16vw -1.7vw;
  }
  100% {
    margin: -16.9vw -1.7vw;
  }
}